@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  /*background-image: url("../images/leaves.png");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  width: 100%;
}

.footer-container {
  width: 95% !important;
}
.card-container {
  transition: all 0.4s ease-in-out;
}
.slick-arrow {
  display: none !important;
}

p {
  margin-bottom: 0 !important;
}

.slider-controller {
  display: block;
  position: absolute;
  width: 100px !important;
  bottom: 350px;
  right: 150px;
  z-index: 1;
}
/* Customize Responsive Navbar */
.nav-link,
a {
  color: #f8cf27 !important;
  text-decoration: none;
}

.nav-link,
a:hover {
  color: #edc524 !important;
  text-decoration: underline;
}
.custom-mobileNav {
  display: none;
}

.navbar-toggler {
  margin-top: 15px;
  margin-left: 24px;
}

button.navbar-toggler.collapsed {
  margin-top: 10px !important;
}

.navbar-toggler-icon {
  background-image: url("../images/Icons/hamburger-icon.svg") !important;
}

.form-control {
  border: 1px solid black !important;
  border-radius: 8px;
  display: block;
}

.form-control:focus {
  border-color: black !important;
  box-shadow: none !important;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+ ::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid black;
  margin-right: 15px;
  position: relative;
}

input[type="checkbox"]:checked+*::before {
  content: "✓";
  color: black;
  padding-right: 5px;
  text-align: right;
  border-color: black;
  position: relative;
}

.checkbox>label {
  display: block;
  text-indent: -25px;
  padding-left: 20px;
}

.checkbox {
  margin-bottom: 24px;
}

.line-separator {
  width: 100vw;
  border-top: 1px solid #d2d2d2;
}

.about-section {
  margin-top: 65px !important;
}
@media screen and (max-width: 1192px) {
  .mobile-nav {
    display: none;
  }

    .service-card {
      margin-top: 20px !important;
    }

    .custom-mobileNav {
      display: block;
      position: absolute;
      top: 0;
      margin-top: 98px;
      height: 100vh;
      width: 100%;
      transition: left 0.4s ease-in-out;
      background-color: #fff;
      z-index: 1;
    }

    .slider-controller {
      display: none;
    }

    button[type="submit"] {
      width: 100% !important;
    }
    .about-section {
      margin-top: 0px !important;
    }
}
